/* html, body, #root {
    height: calc(100% - 20px);
    overflow: hidden;
} */

body {
    overflow: auto !important;
}

#root {
    margin-bottom: 50px;
}

* {
    margin: 0;
    padding: 0;
}

.tab-bar {
    z-index: 1111;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.slider {
    overflow: hidden;
    touch-action: none;
    margin-bottom: 1vh;
}

.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    width: 65% !important;
    margin-top: 0;
}

.am-grid-text {
    margin-top: 0 !important;
}

.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
    padding: 0;
}

.am-notice-bar {
    margin: 1vh 0;
    color: #ff1493;
    background-color: #fff;
    font-size: 12px;
}

.news {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #fff;
    padding: 15px 10px;
}

.news-left {
    float: left;
    width: 49%;
    height: 200px;
    background-color: #fff9ec;
    border-radius: 7px;
    overflow: hidden;
}

.news-right {
    float: right;
    width: 49%;
    height: 200px;
}

.right-top {
    height: 95px;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff6f4;
}

.right-bottom {
    margin-top: 10px;
    height: 95px;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    background-color: #e8f6ff;
}

.news img {
    width: 100%;
    /* height: 100%; */
}

.list-view-section-body {
    display: flex;
    flex-wrap: wrap;
}

.am-list-body {
    background-color: #efeff4 !important;
}

.am-list-header {
    padding: 0;
}

.list_title {
    height: 5vh;
    line-height: 5vh;
    /* text-align: center; */
    padding-left: 3vw;
    color: #ff1493;
    font-size: 14px;
    margin-top: 2vh;
    letter-spacing: 2px;
    background-color: #fff;
    border-left: 5px solid #ff1493;
}

.list_item {
    width: 48%;
    height: 35vh;
    margin: 1%;
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.list_item h3 {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: .5vh 2vw;
    line-height: 2.1vh;
    font-weight: 400;
}

.show_price {
    position: absolute;
    left: 2vw;
    bottom: 1vh;
    font-size: 16px;
    color: #ff1493;
}